/* APPLIES TO EVERYTHING */

* {
    margin: 0;
}

body{
    font-family: 'Martel', serif;
    text-align: center;
    width: 100%;
}

/* HEADER */

.logo{
    padding-top: 10px;
}

.navbar{
    padding: 10px;
}

ul {
    margin: auto;
    padding: 0;
}

.nav-item{
    list-style: none;
    display: inline-block;
    font-size: 1.2rem;
    padding: 5px 10px;
    letter-spacing: 0.5rem;
}

.nav-link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #853737;
}

/* TEXT ETC. */

h1{
   font-size: 4rem;
   letter-spacing: 1rem;
}

h2 {
    padding-top: 15px;
    font-size: 3rem;
    letter-spacing: 1rem;
}

h3{
    font-size: 1.6rem;
    padding-top: 5px;
}

.logo p{
    padding: 5px;
    color: #853737;
    letter-spacing: 0.5rem;
}

p{
    padding: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
}

.link{
    color: black;
}

/* BUTTONS, LINE, ICONS */

.shop-btn, .submit-btn{
    background-color: transparent;
    border: #d1bdb7 3px solid;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    display: inline-block;
    transition-duration: 0.4s;
}

.shop-btn:hover, .submit-btn:hover{
    background-color: #d1bdb7;
    color: white;
}

.submit-btn{
    margin-top: 10px;
    background-color: #d1bdb7;
}

.line{
    border: 3px solid #853737;
    border-radius: 5px;
    margin: 50px auto;
    width: 40%;
}

.fa{
    padding: 10px;
    color: #000000;
}

.fa:hover{
    color: #853737;
}

/* CONTAINERS */

.top-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(cover1-min.jpeg);
}

.over-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(over1.jpg);
}

.contact-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(contact1.jpeg);
}

.top-container,
.over-container,
.contact-container{
    background-size: cover;
    background-position: center;
}

.inner-top-container,
.inner-over-container,
.inner-contact-container{
    padding: 80px;
    width: 70%;
    margin: auto;
    color: #ffffff;
}

.inner-about-container,
.backstory-container{
    width: 70%;
    margin: auto;
}

.nutty-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(nutty1-min.jpeg);
}

.silly-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(silly1-min.jpeg);
}

.fruity-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(fruity2-min.jpeg);
}

.custom-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(custom1-min.jpg);
}

.nutty-container,
.silly-container,
.fruity-container,
.custom-container{
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 50px;
}

.inner-nutty-container,
.inner-silly-container,
.inner-fruity-container,
.inner-custom-container{
    width: 90%;
    margin: auto;
}

.review-container{
    background-color: #d1bdb7;
    padding: 20px;
}

.inner-review-container{
    width: 80%;
    margin: auto;
    padding: 10px;
}

footer{
    padding-bottom: 30px;
}

/* FORM */

.form{
    padding: 30px;
    text-align: left;
}

#vnaam, #anaam, #email, #notes{
    border: #d1bdb7 3px solid;
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
}
#vnaam, #anaam, #email{
    height: 30px;
}


/* MEDIA QUERIES */

@media(min-width: 800px){
    .container{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-gap: 1em;
    }
    
    h1{
        text-align: left;
        padding: 20px 0px 0px 25px;
    }
    p{
        font-size: 1.6rem;
    }
    .logo p{
        text-align: left;
        padding-left: 25px;
    }

    .logo{
        grid-column: 1 / 4;
    }
    .navbar{
        grid-column: 4 / -1;
        padding-top: 40px;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .top-container,
    .over-container{
        height: 600px;
    }

    .inner-top-container,
    .inner-over-container{
        width: 50%;
    }

    .line{
        width: 40%;
    }

    .top-container,
    .about-container,
    .review-container,
    .over-container,
    .backstory-container,
    .line,
    footer{
        grid-column: 1 / -1;
    }

    .nutty-container,
    .fruity-container,
    .contact-container{
        grid-column: 1 / 3;
    }

    .silly-container,
    .custom-container,
    .form{
        grid-column: 3 / -1;
    }

    .wide{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr;
        grid-row-gap: 0;
        padding-top: 0px;
        justify-self: start;
    }

    footer{
        margin-top: 1em;
    }

    .contact-container{
        height: 450px;
    }
    
    .inner-contact-container{
        width: 60%;
    }

    .form{
        padding-top: 0;
    }
}
